<h1>Listing teams</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Name</th>
    <th>Trainer</th>
    <th>Deputy trainer</th>
    <th>Members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.department.name, team.department %></td>
    <td style="background-color: <%= team.background_color%>"><%= team.name %></td>
    <td><%= team.trainer_name %></td>
    <td><%= team.deputy_trainer_name %></td>
    <td><%= team.members.size %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
