<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Trainer:</b>
  <%= @team.trainer_id %>
</p>

<p>
  <b>Deputy trainer:</b>
  <%= @team.deputy_trainer_id %>
</p>

<p>
  <b>Department:</b>
  <%= @team.department_id %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
