<p id="notice"><%= notice %></p>

<p class="department_name">
  <b>Department:</b>
  <%= link_to @team.department_name, @team.department %>
</p>

<%= render :partial => "teams/team", :locals => {:team => @team} %>


<div style="clear:both">
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
</div>
