<div style="border-style:solid; float:left; margin:2ex; padding-left:2ex; padding-right:2ex;">
<p>
  <b>Name:</b>
  <%= link_to department.name, department %>
</p>

<p>
  <b>Leader:</b>
  <%= link_to department.leader_name, department.leader %>
</p>

<p>
  <b>Logistic responsible:</b>
  <%= link_to department.logistic_responsible_name, department.logistic_responsible %>
</p>

<p>
  <b>Kit manager:</b>
  <%= link_to department.kit_manager_name, department.kit_manager %>
</p>

<p>
  <b>Communication responsible:</b>
  <%= link_to department.communication_responsible_name, department.communication_responsible %>
</p>

<p>
  <b>Finance responsible:</b>
  <%= link_to department.finance_responsible_name, department.finance_responsible %>
</p>

<p>
  <b>Referee:</b>
  <%= link_to department.referee_name, department.referee %>
</p>


<%= render department.teams %>

  <div style="clear:both">
    <%= link_to 'Edit', edit_department_path(department) %> |
    <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
