<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :leader %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button("leader_id", member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :default_team %><br />
    <% @department.teams.each do |team| %>
      <div>
        <%= f.radio_button(:default_team_id, team.id) %>
        <%= f.label(:team, team.name) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :logistic_responsible %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button(:logistic_responsible_id, member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :kit_manager %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button(:kit_manager_id, member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :communication_responsible_id %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button(:communication_responsible_id, member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :finance_responsible_id %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button(:finance_responsible_id, member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :referee_id %><br />
    <% @officials.each do |member| %>
      <div>
        <%= f.radio_button(:referee_id, member.id) %>
        <%= f.label(:member, member.fullname) %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
