<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_street, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_street, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_house_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_house_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :birthday, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :membership_started_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :membership_started_on, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :membership_finished_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :membership_finished_on, {:include_blank => true}, {:class => 'date_select'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :enabled, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :enabled, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :trainer, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :trainer, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :leader, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :leader, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logistic_responsible, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :logistic_responsible, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kit_manager, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :kit_manager, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :communication_responsible, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :communication_responsible, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finance_responsible, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :finance_responsible, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :referee, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :referee, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
