<div style="border-style:solid">
<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br />
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_house_number %><br />
    <%= f.text_field :address_house_number %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
</div>
<div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
</div>
<div style="border-top-style:solid">
<% @teams.each do |team| %>
  <div class="team_detailed_view">
    <%= render :partial => "teams/header", :locals => {:team => team} %>
  </div>
<% end %>
</div>
<div style="border-top-style:solid;border-bottom-style:solid; clear:both">
  <div class="field">
    <%= f.label :membership_started_on %><br />
    <%= f.date_select :membership_started_on, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :membership_finished_on %><br />
    <%= f.date_select :membership_finished_on, :include_blank => true %>
  </div>
</div>
<div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :has_official_function? %><br />
    <%= f.check_box :official %>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
