
<h1>Listing members</h1>

<%= link_to 'New Member', new_member_path %>

<h2>Enabled</h2>
<table>
  <tr>
    <th></th>
    <th>Last name</th>
    <th>First name</th>
    <th>Birthday (Age)</th>
    <th>Teams</th>
    <th>Street</th>
    <th>Building number</th>
    <th>Postal code</th>
    <th>City</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.official ? "x" : "" %></td>
    <td><%= member.last_name %></td>
    <td><%= member.first_name %></td>
    <td><%= member.birthday %> (<%= member.age %>)</td>
    <td>
    <% member.teams.each do |team| %>
      <%= render :partial => "teams/span_name", :locals => {:team => team} %>
    <% end %>
    </td>
    <td><%= member.address_street %></td>
    <td><%= member.address_house_number %></td>
    <td><%= member.postal_code %></td>
    <td><%= member.city %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
