<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:birthday) %> (<%= model_class.human_attribute_name(:age) %>)</th>
      <th><%= model_class.human_attribute_name(:address_street) %></th>
      <th><%= model_class.human_attribute_name(:address_house_number) %></th>
      <th><%= model_class.human_attribute_name(:postal_code) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:teams) %></th>
      <th><%= model_class.human_attribute_name(:official_functions) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.last_name, member %></td>
        <td><%= link_to member.first_name, member %></td>
        <td><%= member.birthday %> (<%= member.age %>)</td>
        <td><%= member.address_street %></td>
        <td><%= member.address_house_number %></td>
        <td><%= member.postal_code %></td>
        <td><%= member.city %></td>
        <td>
          <% member.teams.each do |team| -%>
            <span class="badge" style="background-color: <%= team.background_color %>"><%= link_to team.name, team %></span>
          <% end -%>
        </td>
        <td>
          <% member.official_functions.each do |official_function| -%>
            <span class="badge"><%= official_function.to_s.humanize %></span>
          <% end -%>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_member_path(member), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      member_path(member),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_path,
            :class => 'btn btn-primary' %>
