<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-vertical">
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @member.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @member.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_street) %>:</strong></dt>
  <dd><%= @member.address_street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_house_number) %>:</strong></dt>
  <dd><%= @member.address_house_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @member.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @member.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @member.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:membership_started_on) %>:</strong></dt>
  <dd><%= @member.membership_started_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:membership_finished_on) %>:</strong></dt>
  <dd><%= @member.membership_finished_on || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enabled) %>:</strong></dt>
  <dd><%= @member.enabled %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trainer) %>:</strong></dt>
  <dd><%= @member.trainer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:leader) %>:</strong></dt>
  <dd><%= @member.leader %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logistic_responsible) %>:</strong></dt>
  <dd><%= @member.logistic_responsible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kit_manager) %>:</strong></dt>
  <dd><%= @member.kit_manager %></dd>
  <dt><strong><%= model_class.human_attribute_name(:communication_responsible) %>:</strong></dt>
  <dd><%= @member.communication_responsible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finance_responsible) %>:</strong></dt>
  <dd><%= @member.finance_responsible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:referee) %>:</strong></dt>
  <dd><%= @member.referee %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              members_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_member_path(@member), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              member_path(@member),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
