<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>street:</b>
  <%= @member.address_street %>
</p>

<p>
  <b>building number:</b>
  <%= @member.address_house_number %>
</p>

<p>
  <b>Postal code:</b>
  <%= @member.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Birthday:</b>
  <%= @member.birthday %>
</p>

<p>
  <b>Membership started on:</b>
  <%= @member.membership_started_on %>
</p>

<p>
  <b>Membership finished on:</b>
  <%= @member.membership_finished_on %>
</p>

<p>
  <b>Enabled:</b>
  <%= @member.enabled %>
</p>

<p>
  <b>has official function:</b>
  <%= @member.official %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
